.box_all{
    margin-left: 15px;
    margin-right: 100px;
    margin-top: 80px;
    border-radius: 10px;
    background-color: white;
    height: 350px;

}
.box_1 .mb-3{
    margin-right: 30px;
    padding-top: 15px;
}
.box_2 .mb-3{
    margin-right: 30px;
    padding-top: 15px;
}
.form-control{
    background-color: #EAEAEC;
}
